/*navbar*/
nav{
    background-color: rgb(15, 15, 15);
   
   .logo{
        width: 2.4rem;
        margin: 0.1rem 1.5rem;
    }
    a{
        margin-right: 3rem;
    }
    img:hover{
        cursor: pointer;
    } 
}

