*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(228, 222, 222);
    font-family:'Josefin Sans', sans-serif ;
}

.head{
    &-banner{
        background-color: rgb(73, 67, 67);
        padding-top:8rem;
        padding-bottom: 8rem;
        background-image:url("../img/banner2.jpg");
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;

        .nome{
            font-size: 4rem;
        }
 
        .descrizione{
            margin-top: 1rem;
            font-size: 1rem;
        }
    }
}

.sezione{
    &-icone {
        padding-top:2.5rem;
        padding-bottom: 2rem;
        background-color: white;

        .obbiettivi{
            margin-top: 1.3rem;
            color: rgb(15, 15, 15);
        }
        .icone{
            width: 1.8rem;
            padding-bottom: 1.6rem;
            filter: brightness(0%) saturate(0%) invert(80%) sepia(5%) saturate(74%) hue-rotate(314deg) brightness(80%) contrast(84%);;
        }
        .dash{
            width: 4.8rem;
            padding-bottom: 1.4rem;
        }
    } 
}

.sezione{
    &-descrizione{
        margin-top: 3rem;
        margin-bottom: 3rem;

        img{
            width: 18rem;
            border-radius: 100%;
        }
        .button{
            background-color: rgb(15, 15, 15);
            color: white;
            &:hover{
            background-color: rgb(39, 39, 39);
            }
        }

        .about{
            color: rgb(15, 15, 15);
        }

        .about{
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }
}




@media screen and (min-width: 992px){
    .head{
        &-banner{
            padding-top: 11rem;
            padding-bottom: 10rem;
            .nome{
                font-size: 7rem;
            }
            .descrizione{
                margin-top: 2rem;
                font-size: 2rem;
            }
        }
    }
    
    .sezione{
        &-banner{
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-right: 3rem;
        }
    }
} 

@media screen and (min-width: 200px ) and (max-width: 991px){
    
    .sezione{
        &-descrizione{
            img{
                margin-bottom: 3rem;
            }
        }
    }
}

