/*navbar*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&family=UnifrakturMaguntia&display=swap");
nav {
  background-color: rgb(15, 15, 15);
}
nav .logo {
  width: 2.4rem;
  margin: 0.1rem 1.5rem;
}
nav a {
  margin-right: 3rem;
}
nav img:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(228, 222, 222);
  font-family: "Josefin Sans", sans-serif;
}

.head-banner {
  background-color: rgb(73, 67, 67);
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("../img/banner2.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.head-banner .nome {
  font-size: 4rem;
}
.head-banner .descrizione {
  margin-top: 1rem;
  font-size: 1rem;
}

.sezione-icone {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  background-color: white;
}
.sezione-icone .obbiettivi {
  margin-top: 1.3rem;
  color: rgb(15, 15, 15);
}
.sezione-icone .icone {
  width: 1.8rem;
  padding-bottom: 1.6rem;
  filter: brightness(0%) saturate(0%) invert(80%) sepia(5%) saturate(74%) hue-rotate(314deg) brightness(80%) contrast(84%);
}
.sezione-icone .dash {
  width: 4.8rem;
  padding-bottom: 1.4rem;
}

.sezione-descrizione {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.sezione-descrizione img {
  width: 18rem;
  border-radius: 100%;
}
.sezione-descrizione .button {
  background-color: rgb(15, 15, 15);
  color: white;
}
.sezione-descrizione .button:hover {
  background-color: rgb(39, 39, 39);
}
.sezione-descrizione .about {
  color: rgb(15, 15, 15);
}
.sezione-descrizione .about {
  padding-left: 5rem;
  padding-right: 5rem;
}

@media screen and (min-width: 992px) {
  .head-banner {
    padding-top: 11rem;
    padding-bottom: 10rem;
  }
  .head-banner .nome {
    font-size: 7rem;
  }
  .head-banner .descrizione {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .sezione-banner {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 200px) and (max-width: 991px) {
  .sezione-descrizione img {
    margin-bottom: 3rem;
  }
}
.sezione-about-me {
  background-color: white;
  margin: 0;
  padding: 0;
}
.sezione-about-me .banner {
  background-color: rgb(44, 40, 40);
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: url("../img/banner2.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.sezione-about-me .about h2 {
  margin-top: 3rem;
}
.sezione-about-me .about .dash {
  width: 4rem;
  padding-bottom: 1rem;
  filter: brightness(0%) saturate(0%) invert(80%) sepia(3%) saturate(122%) hue-rotate(314deg) brightness(79%) contrast(94%);
}
.sezione-about-me .sezione-1 {
  padding-top: 3rem;
}
.sezione-about-me .sezione-1 img {
  width: 20rem;
  border-radius: 10%;
  margin-bottom: 3rem;
}
.sezione-about-me .sezione-1 .about-1 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.sezione-about-me .sezione-1 .about-1 h2 {
  color: rgb(15, 15, 15);
  padding-bottom: 0.7rem;
  font-size: 2.2rem;
}
.sezione-about-me .sezione-1 .about-1 p {
  font-size: 1.2rem;
}
.sezione-about-me .sezione-1 .about-1 .button {
  margin-top: 1.3rem;
  margin-bottom: 1rem;
  background-color: rgb(15, 15, 15);
  color: white;
}
.sezione-about-me .sezione-1 .about-1 .button:hover {
  background-color: rgb(39, 39, 39);
}
.sezione-about-me .space {
  padding-top: 3rem;
  background-color: rgb(255, 255, 255);
}

.sezione-skills {
  background-color: rgb(228, 222, 222);
  margin-bottom: 2rem;
}
.sezione-skills .skills h2 {
  padding-top: 3rem;
  color: rgb(15, 15, 15);
}
.sezione-skills .skills .dash {
  width: 4rem;
  filter: brightness(0%) saturate(0%) invert(35%) sepia(11%) saturate(0%) hue-rotate(284deg) brightness(93%) contrast(90%);
  padding-bottom: 1rem;
}
.sezione-skills .skills .icone {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.sezione-skills .skills .icone img {
  width: 2.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1.2rem;
  filter: brightness(0%) saturate(0%) invert(35%) sepia(11%) saturate(0%) hue-rotate(284deg) brightness(93%) contrast(90%);
}

@media screen and (min-width: 200px) and (max-width: 991px) {
  .sezione-about-me .space {
    padding-top: 2.7rem;
  }
  .sezione-about-me img {
    margin-bottom: 3rem;
    margin-top: 0.5rem;
  }
  .sezione-about-me .about-1 h2 {
    margin-left: 1.7rem;
    margin-right: 1.7rem;
  }
  .sezione-about-me .about-1 p {
    margin-left: 1.7rem;
    margin-right: 1rem;
  }
  .sezione-about-me .about-1 .button {
    margin-left: 1.7rem;
  }
  .sezione-skills .icone p {
    padding-bottom: 2rem;
  }
  .sezione-skills .icone img {
    padding-top: 1rem;
  }
}
.contatti .first_col {
  background-color: white;
  height: 32rem;
  position: relative;
  left: 7rem;
  top: 10rem;
  border-radius: 1.5rem;
}
.contatti .first_col h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contatti .first_col h5 {
  padding-left: 1rem;
}
.contatti .first_col button {
  margin-top: 2rem;
  margin-left: 1rem;
}
.contatti .first_col button:hover {
  background-color: rgb(49, 49, 49);
}
.contatti .form-control {
  height: 2rem;
  background-color: rgb(241, 240, 240);
  font-size: 1rem;
  border-radius: 1rem;
  box-shadow: none !important;
  border: 0.1rem solid white;
}
.contatti .form-control[type=text]:focus {
  border: 1px solid;
}
.contatti .img-fluid {
  border-radius: 1.5rem;
}
.contatti .last_row {
  background-color: rgb(14, 14, 14);
  width: 23rem;
  position: relative;
  left: 27rem;
  top: 3.5rem;
  border-radius: 1.5rem;
}
.contatti .last_row .contatti h4 {
  padding-bottom: 0.7rem;
}
.contatti .last_row .contatti img {
  margin-right: 0.4rem;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(53deg) brightness(122%) contrast(106%);
  width: 1.2rem;
}
.contatti .last_row .social {
  margin-top: 2rem;
}
.contatti .last_row .social h4 {
  padding-bottom: 0.7rem;
}
.contatti .last_row .social li {
  padding-right: 1rem;
  padding-left: 0.1rem;
}
.contatti .last_row .social li .icone {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(53deg) brightness(122%) contrast(106%);
  width: 1.2rem;
  width: 1.3rem;
}
.contatti .last_row .social li .icone:hover {
  filter: brightness(0%) saturate(0%) invert(73%) sepia(0%) saturate(1%) hue-rotate(323deg) brightness(95%) contrast(87%);
}

.footer {
  margin-top: 8rem;
}

@media screen and (min-width: 200px) and (max-width: 991px) {
  .first_col {
    position: static !important;
  }
  .last_row {
    position: static !important;
    width: auto !important;
  }
  img {
    position: static !important;
  }
}
footer {
  padding-top: 4rem;
  padding-bottom: 2.2rem;
  background-color: rgb(15, 15, 15);
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: darkgrey;
}
footer .social {
  margin-right: 5rem;
}
footer .social p {
  margin-top: 0.7rem;
}
footer img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(53deg) brightness(122%) contrast(106%);
  width: 1.2rem;
}
footer img:hover {
  filter: brightness(0%) saturate(0%) invert(73%) sepia(0%) saturate(1%) hue-rotate(323deg) brightness(95%) contrast(87%);
}/*# sourceMappingURL=main.css.map */